@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&display=swap");
@import "theme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: var(--color-fg-primary);
}

input {
  background-color: unset;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: var(--color-bg-primary);
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.board {
  margin: 20px auto;
  width: 550px;
}

.alert {
  height: 32.5px;
  font-size: 20px;
  padding: 5px;
}

.alert-success {
  background-color: var(--color-ok);
}

.alert-warning {
  background-color: var(--color-danger);
}

.grid {
  max-height: 100vh;
  max-width: 100vh;
  width: 550px;
  height: 550px;
  border: 5px solid var(--color-borders);
}

:root {
  --color-borders: var(--color-accent-secondary);
}

.row {
  height: 11.12%;
  display: flex;
  margin: 0;
}

.row:nth-of-type(3n) {
  border-bottom: 4px solid var(--color-borders);
}
.row:last-of-type {
  border: 0;
}

.cell:nth-of-type(3n) {
  border-right: 4px solid var(--color-borders);
}
.cell:nth-of-type(9n) {
  border-right: 0;
}

.cell {
  width: 11.12%;
  border: 0.5px solid var(--color-borders);
  position: relative;
}

.cell-input {
  color: var(--color-accent-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cell-input:hover,
.cell-input:focus {
  background-color: var(--color-bg-secondary);
}

.cell-input {
  font-family: "IBM Plex Serif", serif;
  width: 100%;
  height: 100%;
  font-size: min(7vh, 45px);
  text-align: center;
  background-color: var(--color-bg-primary);
  border: 0;
}

.empty:hover:not(:focus) {
  width: 66.66%;
  height: 33.33%;
  position: absolute;
  top: 33.33%;
  left: 16.66%;
}

.readonly {
  color: var(--color-fg-secondary);
}

.note {
  font-family: "IBM Plex Serif", serif;
  width: 33.33%;
  font-size: min(2.5vh, 18px);
  text-align: center;
  border: none;
  color: var(--color-accent-primary);
}

.note:hover,
.note:focus {
  background-color: var(--color-bg-secondary);
}

.note-row {
  width: 100%;
  height: 33.33%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.note-row-lower {
  top: 66.66%;
}

button {
  font-family: inherit;
  width: 135px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-secondary);
  border-radius: 5px;
  color: var(--color-fg-primary);
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-bg-primary);
  color: var(--color-bg-secondary);
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-selected {
  background-color: var(--color-accent-primary);
  border: 1px solid var(--color-accent-primary);
  color: var(--color-fg-secondary);
}

button:hover:not(:disabled):not(.btn-selected) {
  background-color: var(--color-bg-primary);
}
.header{
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.difficulty{
  
}

label{
  font-size: 20px;
  font-weight: bold;
}

select{
  background-color: #2E3440;
  color: white;
  font-size: 15px;
  border: 25px 25px 25px 25px;
}